@import "../mixins/mixins.scss";
/* CSS VARIABLES */
:root {
  --color-primary: #58C1B9;
  --color-primary-rgb: 88, 193, 185;
  --color-secondary: #FDFF87;
  --color-secondary-rgb: 253, 255, 135;
  --color-tertiary: #7358C1;
  --color-tertiary-rgb: 115, 88, 193;
  --color-gray: #4d4d4d;
  --color-gray-light: #F8F8FB;
  --color-black: #0b0c0e;
  --color-dark: #161616;
  --color-success: #fdff87;
  --color-error: #ff7272;
  --error-bg: #d83f3f;
  --base-text: #fff;
  --font-size: 16px;
  --base-text-invert: #ffffff;
  --body-bg: #26594C;
  --btn-bg: var(----color-primary);
  --btn-color: var(--base-text);
  --btn-border: var(--color-gray);
  --btn-bg-hover: var(--btn-bg);
  --btn-color-hover: var(--btn-color);
  --btn-border-hover: var(--color-primary);
  --btn-primary-bg: var(--color-primary);
  --btn-primary-color: #fff;
  --btn-primary-border: var(--btn-primary-bg);
  --btn-primary-color-hover: var(--btn-primary-color);
  --btn-primary-border-hover: var(--btn-primary-border);
  --menu-item-color: #606060;
  --menu-item-active-color: #242426;
  --placeholder-color: #{hexToRGB(#2b2626)};
  --border-radius: 12px;
  --th-padding-x: 24px;
  --modal-padding: 30px;
  --transition: .2s ease-in-out;

  // inputs
  --input-padding-y: 19px;
  --input-padding-x: 19px;
  --input-padding-y-mob: 19px;
  --input-padding-x-mob: 19px;
  --floating-input-padding-t: 24px;
  --floating-input-padding-b: 14px;
  --floating-input-padding-t-mob: 24px;
  --floating-input-padding-b-mob: 14px;

  @include respond-before("md") {
    --font-size: 18px;
    --modal-padding: 60px;
  }

  @include respond-before("xl") {
    --th-padding-x: 40px;
  }
}

$maxWidth: 1440;
@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

* {
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

body, html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity .2s ease-in-out 0s;
  &:hover {
    opacity: .7
  }
}

img, video, iframe {
  display: block;
  max-width: 100%;
}

button, button:active, button:hover, button:focus, input, input:active, input:hover, input:focus, textarea, textarea:active, textarea:hover, textarea:focus {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  width: 100%;
  margin: 0;
}

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  background-image: url('assets/img/backgrounds/desktop_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 75px;
  @media screen and (max-width: 1200px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 991px) {
      background-image: url('assets/img/backgrounds/mobile_bg.png');
  }
}

.container {
  margin: 0 auto;
}

.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  @include adaptive-font(16,10);
  font-weight: 800;
  padding: 10px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &__metamask {
    background: #FFFFFF;
    color: #0C0D22;
    margin-right: 10px;
    @media screen and (max-width: 425px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &-img {
      width: 31px;
      margin-right: 10px;
    }
  }
  &__connect {
    background: linear-gradient(267.41deg, #0BF5FE 30.63%, #1FA4D7 97.84%);
    color: #00516D;
  }
}
